apiVersion: pingcap.com/v1alpha1
kind: TidbCluster
metadata:
  name: basic
  namespace: default
spec:
  version: "v7.5.7"
  timezone: Asia/Tokyo
  hostNetwork: false
  
  # PD (司令塔)
  pd:
    baseImage: pingcap/pd
    replicas: 1
    requests:
      storage: "1Gi"
    config: {}

  # TiKV (データ保存)
  tikv:
    baseImage: pingcap/tikv
    replicas: 1
    requests:
      storage: "10Gi"
      memory: "1Gi"
    limits:
      memory: "4Gi"
    config: {}

  # TiDB (SQL計算)
  tidb:
    baseImage: pingcap/tidb
    replicas: 1
    requests:
      memory: "500Mi"
    limits:
      memory: "2Gi"
    service:
      type: ClusterIP
    config: {}